.keyboard{
    -fx-background-color: #545454;
    -fx-pref-width: 860px;
    -fx-pref-height: 604px;
}

.display{
    -fx-background-color:#FDFBF9 ;

}

.taskBar{
    -fx-background-color: #191919;
    -fx-background-radius:4px;
    -fx-pref-height: 42px;
}

.keys{
    -fx-background-color: #171717;
    -fx-pref-height: 48px;
    -fx-pref-width: 52px;
}

.deleteKey{
    -fx-background-color: #171717;
    -fx-pref-height: 48px;
    -fx-pref-width: 95px;

}

.tabKey{
    -fx-background-color: #171717;
    -fx-pref-height: 48px;
    -fx-pref-width: 95px;
}

.capsLockKey{
    -fx-background-color: #171717;
    -fx-pref-height: 48px;
    -fx-pref-width: 110px;
}

.enterKey{
    -fx-background-color: #171717;
    -fx-pref-height: 48px;
    -fx-pref-width: 98px;
}

.keyboardVbox{
    -fx-background-image:url("../images/keyboardbg.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
}
.shiftKey{
    -fx-pref-height: 48px;
    -fx-pref-width: 135px;
    -fx-background-color: #171717;
}

.powerKey, .escKey{
    -fx-background-color: #414141;
    -fx-background-radius: 4px 0 0 4px;
}

.specialBtn{
    -fx-background-color: #171717;
    -fx-pref-height: 48px;
}

.buttonColor{
    -fx-background-color: #171717;
}
